@import "bootstrap/bootstrap.css";
@import "font-awesome/css/font-awesome.min.css";
.left {
  float: left;
}
.right {
  float: right;
}
.none {
  display: none;
}
.block {
  display: block;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.responsive {
  width: 100%;
  height: auto;
}
.tcenter {
  text-align: center;
}
.tleft {
  text-align: left;
}
.tright {
  text-align: right;
}
a:visited,
a:link,
a a:hover,
a a:active {
  outline: none;
}
* {
  outline: none;
  box-sizing: border-box;
}
.noselect {
  user-select: none;
}
.clear:after,
.clear:before {
  content: "";
  width: 100%;
  display: block;
  clear: both;
}
html {
  font: normal 500 10px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}
body {
  font-size: 1.4rem;
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  background: #dcdcdc;
}
#test {
  display: block;
}
body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
#whois-request {
  padding: 1rem 0;
  background-color: #fff;
}
legend {
  font-size: 1.6rem;
  text-transform: uppercase;
}
#wrapper {
  height: 100%;
  width: 100%;
}
#wrapper h4 {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
}
#wrapper .work-space {
  margin-top: .5rem;
  background-color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: .5rem;
}
#wrapper .work-space form {
  margin-bottom: 1rem;
}
#wrapper .work-space label {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  margin: .5rem 0;
}
#wrapper .work-space input[type=submit] {
  margin: 1rem auto 1rem auto;
}
#wrapper .work-space input {
  display: block;
}
#wrapper .work-space input[type=file] {
  margin: 1rem 0;
}
#wrapper .work-space .message {
  color: red;
  font-size: 1.8rem;
  text-align: center;
}
#wrapper .work-space #list {
  margin-top: 1rem;
  max-height: 70rem;
  overflow-y: auto;
}
#wrapper .work-space #list input[type=checkbox] {
  display: inline-block;
  margin: 0 1rem;
  vertical-align: -0.2rem;
}
#wrapper .work-space #list ol {
  counter-reset: myCounter;
  padding: 0;
}
#wrapper .work-space #list ol li {
  list-style: none;
  margin-bottom: .5rem;
  border-bottom: 1px solid #2980B9;
  cursor: pointer;
}
#wrapper .work-space #list ol li:before {
  text-align: center;
  counter-increment: myCounter;
  content: counter(myCounter);
  width: 4rem;
  height: 4rem;
  line-height: 40px;
  display: inline-block;
  margin-right: 1rem;
  background-color: #2980B9;
  color: #fff;
}
#wrapper .work-space #list ol li.delete {
  border-bottom: 1px solid red;
}
#wrapper .work-space #list ol li.delete:before {
  background-color: red;
}
#cod-space {
  height: 100%;
}
#tablePlace {
  width: 600px;
}
#tablePlace table {
  width: 100%;
  border-collapse: collapse;
}
#tablePlace table tr {
  cursor: pointer;
}
#tablePlace table tr:first-child {
  background-color: #2980B9;
  color: #fff;
}
#tablePlace table tr .actions {
  padding: 0;
}
#tablePlace table tr .actions li {
  list-style: none;
  background-color: LavenderBlush;
}
#tablePlace table tr .actions li a {
  display: block;
  padding: .5rem 0;
}
#tablePlace table tr.not-found {
  -webkit-animation-name: bgcolor;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-name: bgcolor;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes bgcolor {
  0% {
    background-color: #31b0d5;
  }
  100% {
    background: none;
  }
}
@-webkit-keyframes bgcolor {
  0% {
    background-color: #31b0d5;
  }
  100% {
    background: none;
  }
}
#tablePlace table tr td:first-child {
  background-color: #2980B9;
  color: #fff;
  border-color: #fff;
}
#tablePlace table th {
  padding: 1rem .5rem;
  border: 1px solid #fff;
}
#tablePlace table td {
  text-align: center;
  font-size: 1.2rem;
  padding: .5rem;
  border: 1px solid #fff;
}
textarea {
  resize: none;
}
button {
  background: none;
  border: none;
}
button i {
  color: limegreen;
}
button.delete {
  color: red;
  display: inline-block;
  vertical-align: -5px;
}
button.inline {
  display: inline-block;
}
#addForm input {
  width: 100%;
  padding: .5rem;
  margin: .5rem 0;
  display: block;
}
#dop-action {
  background-color: #fff;
  padding: .5rem;
}
#dop-action header {
  font-size: 1.6rem;
  color: #000;
  text-align: center;
}
#editor-place {
  height: 100%;
  z-index: 2;
  overflow: hidden;
}
#editor-place textarea[name=code] {
  position: absolute;
  top: 0;
  left: -9999px;
}
#editor-place button {
  color: #fff;
  margin: .5rem .3rem;
  width: 24%;
  display: inline-block;
  vertical-align: top;
}
#editor-place button.default {
  background-color: #2980B9;
}
#editor-place button.refresh {
  background-color: #ff8040;
}
#editor-place button.accept {
  background-color: #32cd32;
}
#editor-place button.unloading {
  background-color: #a94442;
}
#editor-place #wrap-editor {
  height: 60rem;
  overflow-y: auto;
}
#editor-place #wrap-editor #editor {
  width: 100%;
  height: 100%;
}
#editor-place legend {
  margin: 1rem 0 .5rem 0;
}
.loader {
  width: 8rem;
  height: 8rem;
  top: 3rem;
  margin: 0 auto;
  display: none;
  position: relative;
}
.loader.show {
  display: block;
}
.loader .lt {
  width: 3rem;
  height: 3rem;
  background-color: #269abc;
  border-radius: 50%;
  animation-name: lt;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  display: block;
  position: absolute;
}
.loader .rt {
  width: 3rem;
  height: 3rem;
  background-color: #32cd32;
  border-radius: 50%;
  animation-name: rt;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  display: block;
  position: absolute;
}
.loader .rb {
  width: 3rem;
  height: 3rem;
  background-color: red;
  border-radius: 50%;
  animation-name: rb;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  display: block;
  position: absolute;
}
.loader .lb {
  width: 3rem;
  height: 3rem;
  background-color: #ffff00;
  border-radius: 50%;
  animation-name: lb;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  display: block;
  position: absolute;
}
@keyframes lb {
  0% {
    left: 0;
    top: 5rem;
  }
  25% {
    left: 0;
    top: 0;
  }
  50% {
    left: 5rem;
    top: 0;
  }
  75% {
    top: 5rem;
    left: 5rem;
  }
  100% {
    left: 0;
    top: 5rem;
  }
}
@keyframes rb {
  0% {
    left: 5rem;
    top: 5rem;
  }
  25% {
    left: 0;
    top: 5rem;
  }
  50% {
    left: 0;
    top: 0;
  }
  75% {
    top: 0;
    left: 5rem;
  }
  100% {
    left: 5rem;
    top: 5rem;
  }
}
@keyframes rt {
  0% {
    left: 5rem;
    top: 0;
  }
  25% {
    left: 5rem;
    top: 5rem;
  }
  50% {
    left: 0;
    top: 5rem;
  }
  75% {
    top: 0;
    left: 0;
  }
  100% {
    left: 5rem;
    top: 0;
  }
}
@keyframes lt {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: 5rem;
    top: 0;
  }
  50% {
    left: 5rem;
    top: 5rem;
  }
  75% {
    top: 5rem;
    left: 0;
  }
  100% {
    left: 0;
    top: 0;
  }
}
.parserTable {
  background-color: #fff;
  width: 100%;
  border-collapse: collapse;
  margin: .5rem 0;
}
.parserTable input[type=text],
.parserTable textarea,
.parserTable select {
  width: 100%;
}
.parserTable.lister input,
.parserTable.lister textarea,
.parserTable.lister select {
  display: none;
}
.parserTable.lister input[type=radio],
.parserTable.lister textarea[type=radio],
.parserTable.lister select[type=radio] {
  display: block;
}
.parserTable tr.editable span {
  display: none;
}
.parserTable tr.editable input,
.parserTable tr.editable textarea,
.parserTable tr.editable select {
  display: block;
}
.parserTable tr.editable i.edit {
  display: none;
}
.parserTable tr.editable i.save {
  color: #2980B9;
  display: block;
}
.parserTable tr.editable i.cancel {
  color: #2980B9;
  display: block;
}
.parserTable tr.active {
  background-color: #2980B9;
}
.parserTable tr.active i {
  color: #fff;
}
.parserTable tr.active.editable i {
  color: #fff;
}
.parserTable tr.active td {
  color: #fff;
  border-color: #fff;
}
.parserTable tr.active td input,
.parserTable tr.active td textarea,
.parserTable tr.active td select {
  color: #000;
}
.parserTable th {
  text-align: center;
  border: 1px solid #2980B9;
  padding: .5rem;
}
.parserTable td {
  padding: .5rem;
  text-align: center;
  border: 1px solid #2980B9;
}
.parserTable i {
  display: block;
  color: #32cd32;
  cursor: pointer;
}
.parserTable i.edit {
  color: #2980B9;
}
.parserTable i.save {
  color: #2980B9;
  display: none;
}
.parserTable i.cancel {
  color: #2980B9;
  display: none;
}
.parserTable i.remove {
  color: red;
}
i.refresh {
  color: #ff8040;
  margin: .3rem 2rem 0 0;
}
