@import "bootstrap/bootstrap.css";
@import "font-awesome/css/font-awesome.min.css";

.left {
  float: left;
}

.right {
  float: right;
}

.none {
  display: none;
}

.block {
  display: block;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.responsive {
  width: 100%;
  height: auto;
}

.tcenter {
  text-align: center;
}

.tleft {
  text-align: left;
}

.tright {
  text-align: right;
}

a {
  &:visited, &:link, a:hover, a:active {
    outline: none;
  }
}

* {
  outline: none;
  box-sizing: border-box;
}

.noselect {
  user-select: none;
}

.rotate(@grad) {
  transform: rotate(@grad);
}

.grad_horizontal(@startColor, @endColor) {
  background-color: @endColor;
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=@startColor, endColorstr=@endColor);
  background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
  background-image: -webkit-linear-gradient(right center, @startColor, @endColor);
  background-image: -moz-linear-gradient(right center, @startColor, @endColor);
  background-image: -o-linear-gradient(left, @startColor, @endColor);
  background-image: -khtml-gradient(linear, left top, right top, from(@startColor), to(@endColor));
  background-image: -ms-linear-gradient(left, @startColor, @endColor);
}

.grad_vertical(@startColor, @endColor) {
  background-color: @endColor;
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=@startColor, endColorstr=@endColor);
  background-image: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background-image: -webkit-linear-gradient(@startColor, @endColor);
  background-image: -moz-linear-gradient(@startColor, @endColor);
  background-image: -o-linear-gradient(top, @startColor, @endColor);
  background-image: -khtml-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background-image: -ms-linear-gradient(top, @startColor, @endColor);
}

:-moz-placeholder {

}

::-webkit-input-placeholder {
}

:-ms-input-placeholder {
}

.clear {
  &:after, &:before {
    content: "";
    width: 100%;
    .block;
    clear: both;
  }
}

html {
  font: normal 500 10px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}

body {
  font-size: 1.4rem;
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  background: #dcdcdc;
}

#test {
  .block;
}

body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.wp {
  //width: 75rem;
}

#whois-request {
  padding: 1rem 0;
  background-color: #fff;
}

legend {
  font-size: 1.6rem;
  text-transform: uppercase;
}

#wrapper {
  height: 100%;
  width: 100%;

  h4 {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0;
  }

  .work-space {
    margin-top: .5rem;
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: .5rem;

    form {
      margin-bottom: 1rem;
    }

    label {
      display: block;
      font-size: 1.2rem;
      font-weight: 500;
      margin: .5rem 0;
    }

    input[type=submit] {
      margin: 1rem auto 1rem auto;
    }

    input {
      .block;
    }

    input[type=file] {
      margin: 1rem 0;
    }

    input[type=color] {

    }

    .message {
      color: red;
      font-size: 1.8rem;
      .tcenter;
    }

    #list {
      margin-top: 1rem;
      max-height: 70rem;
      overflow-y: auto;

      input[type=checkbox] {
        display: inline-block;
        margin: 0 1rem;
        vertical-align: -.2rem;
      }

      ol {
        counter-reset: myCounter;
        padding: 0;

        li {
          list-style: none;
          margin-bottom: .5rem;
          border-bottom: 1px solid #2980B9;
          cursor: pointer;
          &:before {
            text-align: center;
            counter-increment: myCounter;
            content: counter(myCounter);
            width: 4rem;
            height: 4rem;
            line-height: 40px;
            display: inline-block;
            margin-right: 1rem;
            background-color: #2980B9;
            color: #fff;
          }

          &.delete {
            border-bottom: 1px solid red;
            &:before {
              background-color: red;
            }
          }
        }
      }
    }
  }
}

#cod-space {
  height: 100%;
}

#tablePlace {
  width: 600px;

  table {
    width: 100%;
    border-collapse: collapse;

    tr {
      &:first-child {
        background-color: #2980B9;
        color: #fff;
      }

      cursor: pointer;

      .actions {
        padding: 0;
        li {
          list-style: none;
          background-color: LavenderBlush;
          a {
            .block;
            padding: .5rem 0;
          }
        }
      }

      &.not-found {
        -webkit-animation-name: bgcolor;
        -webkit-animation-duration: 3s;
        -webkit-animation-iteration-count: infinite;
        animation-name: bgcolor;
        animation-duration: 3s;
        animation-iteration-count: infinite;
      }

      @keyframes bgcolor {
        0% {
          background-color: #31b0d5;
        }
        100% {
          background: none;
        }
      }

      @-webkit-keyframes bgcolor {
        0% {
          background-color: #31b0d5;
        }
        100% {
          background: none;
        }
      }

      td {
        &:first-child {
          background-color: #2980B9;
          color: #fff;
          border-color: #fff;
        }
      }
    }

    th {
      padding: 1rem .5rem;
      border: 1px solid #fff;
    }

    td {
      text-align: center;
      font-size: 1.2rem;
      padding: .5rem;
      border: 1px solid #fff;
    }
  }
}

textarea {
  resize: none;
}

button {
  background: none;
  border: none;
  i {
    color: limegreen;
  }

  &.delete {
    color: red;
    display: inline-block;
    vertical-align: -5px;
  }

  &.inline {
    display: inline-block;
  }
}

#addForm {

  input {
    width: 100%;
    padding: .5rem;
    margin: .5rem 0;
    .block;
  }
}

#dop-action {
  background-color: #fff;
  padding: .5rem;

  header {
    font-size: 1.6rem;
    color: #000;
    .tcenter;
  }
}

#editor-place {
  height: 100%;
  z-index: 2;
  overflow: hidden;
  textarea[name=code] {
    .abs;
    top: 0;
    left: -9999px;
  }

  button {
    color: #fff;
    margin: .5rem .3rem;
    width: 24%;
    display: inline-block;
    vertical-align: top;

    &.default {
      background-color: #2980B9;
    }

    &.refresh {
      background-color: #ff8040;
    }

    &.accept {
      background-color: #32cd32;
    }

    &.unloading {
      background-color: #a94442;
    }
  }
  #wrap-editor {
    height: 60rem;
    overflow-y: auto;
    #editor {
      width: 100%;
      height: 100%;
    }
  }

  legend {
    margin: 1rem 0 .5rem 0;
  }
}

.loader {
  width: 8rem;
  height: 8rem;
  top: 3rem;
  margin: 0 auto;
  .none;
  .rel;

  &.show {
    .block;
  }

  .lt {
    width: 3rem;
    height: 3rem;
    background-color: #269abc;
    border-radius: 50%;
    animation-name: lt;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    .block;
    .abs;
  }
  .rt {
    width: 3rem;
    height: 3rem;
    background-color: #32cd32;
    border-radius: 50%;
    animation-name: rt;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    .block;
    .abs;
  }

  .rb {
    width: 3rem;
    height: 3rem;
    background-color: red;
    border-radius: 50%;
    animation-name: rb;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    .block;
    .abs;
  }

  .lb {
    width: 3rem;
    height: 3rem;
    background-color: #ffff00;
    border-radius: 50%;
    animation-name: lb;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    .block;
    .abs;
  }
}

@keyframes lb {
  0% {
    left: 0;
    top: 5rem;
  }
  25% {
    left: 0;
    top: 0;
  }
  50% {
    left: 5rem;
    top: 0;
  }
  75% {
    top: 5rem;
    left: 5rem;
  }
  100% {
    left: 0;
    top: 5rem;
  }
}

@keyframes rb {
  0% {
    left: 5rem;
    top: 5rem;
  }
  25% {
    left: 0;
    top: 5rem;
  }
  50% {
    left: 0;
    top: 0;
  }
  75% {
    top: 0;
    left: 5rem;
  }
  100% {
    left: 5rem;
    top: 5rem;
  }
}

@keyframes rt {
  0% {
    left: 5rem;
    top: 0;
  }
  25% {
    left: 5rem;
    top: 5rem;
  }
  50% {
    left: 0;
    top: 5rem;
  }
  75% {
    top: 0;
    left: 0;
  }
  100% {
    left: 5rem;
    top: 0;
  }
}

@keyframes lt {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: 5rem;
    top: 0;
  }
  50% {
    left: 5rem;
    top: 5rem;
  }
  75% {
    top: 5rem;
    left: 0;
  }
  100% {
    left: 0;
    top: 0;
  }
}

.parserTable {
  background-color: #fff;
  width: 100%;
  border-collapse: collapse;
  margin: .5rem 0;

  input[type=text], textarea, select {
    width: 100%;
  }

  &.lister {
    input, textarea, select {
      display: none;

      &[type=radio] {
        .block;
      }
    }
  }

  tr {

    &.editable {
      span {
        display: none;
      }

      input, textarea, select {
        display: block;
      }

      i {
        &.edit {
          .none;
        }

        &.save {
          color: #2980B9;
          .block;
        }

        &.cancel {
          color: #2980B9;
          .block;
        }
      }
    }

    &.active {
      background-color: #2980B9;

      i {
        color: #fff;
      }

      &.editable {
        i {
          color: #fff;
        }
      }

      td {
        color: #fff;
        border-color: #fff;

        input, textarea, select {
          color: #000;
        }
      }
    }
  }

  th {
    text-align: center;
    border: 1px solid #2980B9;
    padding: .5rem;
  }

  td {
    padding: .5rem;
    text-align: center;
    border: 1px solid #2980B9;
  }

  i {
    display: block;
    color: #32cd32;
    cursor: pointer;
    &.edit {
      color: #2980B9;
    }

    &.save {
      color: #2980B9;
      .none;
    }

    &.cancel {
      color: #2980B9;
      .none;
    }

    &.remove {
      color: red;
    }
  }
}

i {
  &.refresh {
    color: #ff8040;
    margin: .3rem 2rem 0 0;
  }
}